#!/bin/bash

/opt/srlinux/bin/sr_cli -ec --commit-at-end << 'EOF'
system {
 name {
# grains[ 'host' ]
# {{ pillar.get('hostname','x') }}
# show_full_context()|yaml(False)
  host-name "{{ __pub_arg[1]['args']['hostname'] }}"
 }
}

EOF
